body {
    background: url('OrdaKinoBOT.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: Arial, sans-serif;
}

header{
    height: 100px;
    text-align: center;
}

h1, p {
    color: #ddd;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.video-card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.video-card button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.video-card button:hover {
    background-color: #0056b3;
}

.video-card img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.footer {
    text-align: center;
    height: 100px;
    background-color: #f0f0f0;
    width: 100%;
}

.footer-text p {
    color: #000;
}


.social-buttons {
    display: flex;
    justify-content: center;
}

.social-buttons a {
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    background-color: #f0f0f0;
    border-radius: 5%;
    padding: 5px;
}

.social-buttons a:hover {
    background-color: #ddd;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal iframe {
    display: block;
    margin: auto;
    margin-top: 10%;
}
